<nav class="flex items-center justify-center gap-8">
  <div class="flex items-center gap-4">
    <a href="/jugadores">Jugadores</a>
    <a href="/partidos">Partidos</a>
  </div>
  <a href="/" class="text-5xl font-bold tracking-wider">GUAJES FC</a>
  <div class="flex items-center gap-4">
    <a href="/noticias">Noticias</a>
    <a href="https://www.instagram.com/guajescf/" target="_blank">Instagram</a>
  </div>
</nav>
